input {
  file {
    path => "/var/log/logs/*"
    codec => json
    sincedb_path => "/logstash.db"
  }
}

filter {
  mutate {
    remove_field => [ "[@fields][args]" ]
  }
}

output {
  stdout { codec => json }
  elasticsearch {
    hosts => ["{{elasticsearch_host}}"]
    ssl => false
    flush_size => 1
  }
}