version: '2'
services:
  pentaho_integration:
    image: {{ private_docker_registry_base }}/{{ hsep_pentaho_integration_docker_image | default('hsep_pentaho_integration') }}:{{ hsep_image_version }}
    environment:
      SYSLOG_HOST: {{SYSLOG_HOST_IP}}
      SYSLOG_UDP_PORT: 8514
      DISPLAY: $DISPLAY
      REST_API_URL: http://{{HSEP_REST_API_IP}}:{{ hsep_rest_api_port | default(8090) }}/
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./pentaho_cached_files:/opt/pentaho/data-integration/cached_files
    command: ./spoon.sh
    depends_on:
      - pentaho_db

  pentaho_db:
    image:  {{ private_docker_registry_base }}/{{ hsep_pentaho_db_docker_image | default('hsep_pentaho_db') }}:{{ hsep_image_version }}
    environment:
      POSTGRES_USER: pentaho
      POSTGRES_PASSWORD: pentaho
      POSTGRES_DB: pentaho_db
